diffusers==0.21.2
transformers==4.42.3
accelerate==0.23.0
open-clip-torch==2.7.0
opencv-python==4.8.1.78
pycocotools==2.0.7
torchmetrics[image]==1.2.0
scipy==1.14.0
flask==3.0.1
numpy==1.26.3
huggingface-hub==0.25.2
