matplotlib==3.6.2
tensorflow_probability==0.20.1
six==1.15.0
git+https://github.com/google-research/tf-slim.git@c3cfb34a76545d3c5d8d539430c449e80bddf44a#egg=tf_slim
absl_py==1.0.0
requests==2.31.0
PyYaml==6.0.0
sacrebleu==1.4.14
sacremoses==0.0.46
click==8.0.4
mpi4py==3.1.3
numpy==1.23.5
