# The extra-index-url is for downloading the nvidia package \
# It is used only as a fallback mechanism if download fails from \
# primary source
--extra-index-url https://developer.download.nvidia.com/compute/redist
git+https://github.com/NVIDIA/dllogger
nibabel==3.1.1
scikit-learn==1.3.2
pynvml==8.0.4
pytorch_ranger==0.1.1
dropblock==0.3.0
monai==0.5.0 ; python_version < '3.12'
monai==1.3.1 ; python_version >= '3.12'
nvidia-dali-cuda110==1.42.0
torch-optimizer==0.0.1a15
scikit-image==0.21.0 ; python_version < '3.12'
scikit-image==0.22.0 ; python_version >= '3.12'
awscli
lightning==2.3.3 ; python_version < '3.12'
lightning==2.4.0 ; python_version >= '3.12'
lightning-habana==1.6.0
numpy==1.23.1 ; python_version <= '3.8'
numpy==1.26.4 ; python_version > '3.8'
