git+https://github.com/NVIDIA/dllogger
nibabel==3.2.1
scikit-learn==1.5.0
pynvml==12.0.0
pytorch_ranger==0.1.1
dropblock==0.3.0
monai==1.4.0
nvidia-dali-cuda110==1.34.0
torch-optimizer==0.0.1a15
scikit-image==0.24.0
awscli
lightning==2.5.1
lightning-habana==1.6.0
numpy==1.26.4
